In [1]:
#import dependencies
from bs4 import BeautifulSoup as bs
import pandas as pd
import requests
from pprint import pprint
import json

In [2]:
#set the base url
burl = 'https://www.deptofnumbers.com/rent/'

In [3]:
#set a list of states to scrape
states = ['California', 'Arizona', 'Colorado', 'Idaho', 'New-Mexico', 'Nevada', 'Oregon', 'Utah', 'Washington']

#initialize a list to store dataframes containing rate infor
rent_tables = []

#iterate through states to scrape gross rate table
for state in states:
    page = requests.get(burl + state)
    soup = bs(page.text, 'lxml')
    rent_table = soup.find('table', attrs={'summary': 'Nominal gross rent rates since 2005'})
    rent_df = pd.read_html(str(rent_table))[0]
    transposed = rent_df.transpose()
    #rent_df
    #rent_dict = rent_df.to_dict('split')
    rent_tables.append(transposed)

In [4]:
#scrub the data frame and output to csv
gross_rent_df = pd.concat(rent_tables, sort=True)
gross_rent_df = gross_rent_df.drop_duplicates()
gross_rent_df.columns = gross_rent_df.loc['Date']
gross_rent_df = gross_rent_df.transpose()
gross_rent_df = gross_rent_df.drop(['Date'], axis=1)
gross_rent_df.to_csv('numbers_output/gross_rent.csv')
gross_rent_df

,US Median,California Median,California Average,Arizona Median,Arizona Average,Colorado Median,Colorado Average,Idaho Median,Idaho Average,New Mexico Median,New Mexico Average,Nevada Median,Nevada Average,Oregon Median,Oregon Average,Utah Median,Utah Average,Washington Median,Washington Average
Date,,,,,,,,,,,,,,,,,,,
2016,$981,"$1,375","$1,445",$976,$991,"$1,171","$1,178",$790,$782,$804,$788,"$1,003","$1,038","$1,015","$1,055",$954,$986,"$1,135","$1,184"
2015,$959,"$1,311","$1,377",$933,$948,"$1,111","$1,139",$770,$753,$783,$778,$980,"$1,018",$943,$975,$925,$941,"$1,080","$1,116"
2014,$934,"$1,268","$1,333",$916,$939,"$1,020","$1,057",$755,$764,$777,$779,$955,"$1,000",$924,$963,$886,$913,"$1,032","$1,081"
2013,$905,"$1,224","$1,289",$890,$920,$971,"$1,014",$725,$737,$772,$762,$952,$993,$887,$932,$881,$912,$989,"$1,037"
2012,$884,"$1,200","$1,258",$888,$922,$934,$977,$702,$714,$753,$753,$944,$981,$862,$895,$851,$879,$954,"$1,006"
2011,$871,"$1,174","$1,224",$850,$878,$900,$950,$689,$678,$729,$721,$936,$983,$840,$874,$822,$838,$930,$980
2010,$855,"$1,163","$1,214",$844,$881,$863,$905,$683,$676,$699,$688,$952,$992,$816,$850,$796,$819,$908,$956
2009,$842,"$1,155","$1,204",$859,$888,$851,$899,$694,$683,$680,$683,$993,"$1,029",$819,$848,$793,$834,$911,$952
2008,$824,"$1,135","$1,187",$866,$880,$848,$883,$690,$685,$668,$663,"$1,011","$1,042",$780,$807,$784,$797,$874,$915
2007,$789,"$1,078","$1,132",$819,$848,$788,$823,$654,$642,$637,$629,$980,"$1,006",$743,$764,$733,$749,$816,$855
2006,$763,"$1,029","$1,077",$762,$791,$780,$807,$623,$603,$617,$598,$917,$935,$714,$745,$697,$712,$779,$810
2005,$728,$973,"$1,020",$717,$731,$757,$786,$594,$576,$587,$576,$861,$868,$689,$708,$665,$680,$741,$763

In [5]:
#intialize a list to store dataframes of rental vacancy rates
vacancy_tables = []

#iterate through states to scrape gross rate table
for state in states:
    page = requests.get(burl + state)
    soup = bs(page.text, 'lxml')
    if state == 'New-Mexico':
        state = 'New Mexico'
    vacancy_table = soup.find('table', attrs={'summary': 'Summary of ' + state + ' rental vacancy rate statistics for ' + state +' since 2005'})
    vacancy_df = pd.read_html(str(vacancy_table))[0]
    transposed = vacancy_df.transpose()
    vacancy_tables.append(transposed)

In [6]:
#scrub the data frame and output to csv
vacancy_df = pd.concat(vacancy_tables, sort=True)
vacancy_df = vacancy_df.drop_duplicates()
vacancy_df.columns = vacancy_df.loc['Date']
vacancy_df = vacancy_df.transpose()
vacancy_df = vacancy_df.drop(['Date'], axis=1)
vacancy_df.to_csv('numbers_output/vacancy_rate.csv')
vacancy_df

,US,California,Arizona,Colorado,Idaho,New Mexico,Nevada,Oregon,Utah,Washington
Date,,,,,,,,,,
2016,5.89%,3.31%,6.41%,4.29%,5.37%,9.86%,7.96%,3.17%,6.24%,3.23%
2015,5.85%,3.33%,7.72%,4.47%,4.97%,8.75%,8.47%,3.64%,4.81%,3.27%
2014,6.32%,3.90%,8.11%,4.85%,5.23%,8.41%,8.38%,3.57%,5.27%,4.23%
2013,6.49%,4.22%,8.89%,5.26%,5.05%,9.01%,10.51%,4.45%,5.96%,4.65%
2012,6.77%,4.51%,9.01%,5.69%,6.45%,8.62%,10.96%,4.75%,5.89%,5.30%
2011,7.40%,4.94%,10.21%,5.63%,5.53%,7.42%,11.73%,5.06%,5.36%,5.59%
2010,8.17%,5.86%,11.07%,6.72%,7.93%,7.31%,10.71%,5.60%,6.59%,5.80%
2009,8.43%,5.76%,12.62%,8.00%,8.58%,9.74%,12.58%,6.30%,6.49%,5.98%
2008,7.86%,4.71%,11.33%,7.45%,7.56%,7.55%,11.28%,5.71%,5.32%,5.09%
2007,7.87%,4.72%,9.22%,8.63%,6.21%,9.64%,10.10%,5.08%,5.59%,4.83%
2006,7.70%,4.67%,8.18%,8.36%,5.25%,8.42%,9.10%,5.57%,6.21%,6.14%
2005,7.74%,4.61%,8.57%,9.35%,4.84%,7.47%,7.31%,6.39%,6.95%,5.74%

In [7]:
#intialize a list to store dataframes of rental vacancy rates
fraction_tables = []

#iterate through states to scrape gross rate table
for state in states:
    page = requests.get(burl + state)
    soup = bs(page.text, 'lxml')
    if state == 'New-Mexico':
        state = 'New Mexico'
    fraction_table = soup.find('table', attrs={'summary': 'Summary of income fraction going towards rent for ' + state +' since 2005'})
    fraction_df = pd.read_html(str(fraction_table))[0]
    transposed = fraction_df.transpose()
    fraction_tables.append(transposed)

In [8]:
#scrub the data frame and output to csv
fraction_df = pd.concat(fraction_tables, sort=True)
fraction_df = fraction_df.drop_duplicates()
fraction_df.columns = fraction_df.loc['Date']
fraction_df = fraction_df.transpose()
fraction_df = fraction_df.drop(['Date'], axis=1)
fraction_df.to_csv('numbers_output/income_fraction.csv')
fraction_df

,US,California,Arizona,Colorado,Idaho,New Mexico,Nevada,Oregon,Utah,Washington
Date,,,,,,,,,,
2016,20.43%,24.36%,21.87%,21.39%,18.30%,20.64%,21.81%,21.17%,17.35%,20.30%
2015,20.63%,24.39%,21.74%,20.86%,19.14%,20.70%,22.43%,20.90%,17.64%,20.21%
2014,20.89%,24.57%,21.95%,19.97%,18.93%,20.81%,22.27%,21.71%,17.45%,20.18%
2013,20.78%,24.40%,22.02%,19.81%,18.60%,21.12%,22.30%,21.18%,17.69%,20.32%
2012,20.65%,24.69%,22.28%,19.74%,18.52%,21.23%,22.77%,21.04%,17.90%,19.88%
2011,20.70%,24.59%,21.84%,19.50%,19.08%,20.85%,22.96%,21.53%,17.66%,19.64%
2010,20.50%,24.18%,21.65%,19.16%,18.85%,19.93%,22.40%,21.03%,17.45%,19.59%
2009,20.12%,23.52%,21.15%,18.42%,18.54%,18.96%,22.34%,20.28%,17.27%,19.33%
2008,19.00%,22.32%,20.39%,17.85%,17.40%,18.42%,21.53%,18.66%,16.61%,18.06%
2007,18.66%,21.58%,19.70%,17.13%,16.97%,18.44%,21.36%,18.30%,15.96%,17.61%
2006,18.90%,21.80%,19.35%,17.99%,17.44%,18.22%,20.76%,18.53%,16.30%,17.78%
2005,18.89%,21.77%,19.43%,17.93%,17.20%,18.79%,21.01%,19.25%,16.65%,18.05%